{% assign item = include.item %}
<div class="exhibit-card item-card">
  <div class="item-image">
    {% if item.photo0 %}
      {% capture generated_prev0 %}
        {% include get_imgbox_thumb.liquid url=item.photo0 %}
      {% endcapture %}
      {% assign thumb_url = generated_prev0 | strip %}
      {% if thumb_url != "" %}
        <a href="{{ item.photo0 }}" target="_blank" rel="noopener noreferrer">
          <img src="{{ thumb_url }}" alt="{{ item.model }}" loading="lazy">
        </a>
      {% else %}
        <img src="https://placehold.co" alt="Ошибка в ссылке" loading="lazy">
      {% endif %}
    {% else %}
      <img src="https://placehold.co" alt="Фото пока нет" loading="lazy">
    {% endif %}
  </div>
  <div class="item-info">
    <a href="{{ item.url | relative_url }}" class="item-title">{{ item.innernumber }}</a>
    <div class="item-description">{{ item.model }}</div>
    <div class="item-meta">
      {% if item.category %}({{ item.category }}){% endif %}
      {% if item.manufacturer %}<br>🏭 {{ item.manufacturer }}{% endif %}
      {% if item.prodyear %}<br>📅 {{ item.prodyear }}{% endif %}
      
      {% if item.country %}
        <br>🌍 {{ item.country }}
      {% endif %}
         
      {% if item.collectionstatus %}
        <br>
        {% assign status = item.collectionstatus | default: "" | upcase %}
        {% if status == "ПОИСК" or status contains "ИЩУ" %}
          <span class="status-seek">{{ item.collectionstatus }}</span>
        {% else %}
          {{ item.collectionstatus }}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
