{% assign item = include.item %}
<div class="exhibit-card item-card">
  <div class="item-image">
    {% if item.photo0 %}
      <a href="{{ item.photo0 }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ item.photo0 }}" alt="{{ item.model }}" loading="lazy" style="max-width: 150px; height: auto;">
      </a>
    {% else %}
      <img src="https://placehold.co" alt="Фото пока нет" loading="lazy">
    {% endif %}
  </div>
  <div class="item-info">
    <a href="{{ item.url | relative_url }}" class="item-title">{{ item.innernumber }}</a>
    <div class="item-description">{{ item.model }}</div>
    <div class="item-meta">
      {% if item.category %}({{ item.category }}){% endif %}
      {% if item.manufacturer %}<br>🏭 {{ item.manufacturer }}{% endif %}
      {% if item.prodyear %}<br>📅 {{ item.prodyear }}{% endif %}
      
      {% if item.country %}
        <br>🌍 {{ item.country }}
      {% endif %}
         
      {% if item.collectionstatus %}
        <br>
        {% assign status = item.collectionstatus | default: "" | upcase %}
        {% if status == "ПОИСК" or status contains "ИЩУ" %}
          <span class="status-seek">{{ item.collectionstatus }}</span>
        {% else %}
          {{ item.collectionstatus }}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
