/* dark-theme.css */
body {
  background-color: #1111e0; /*Мягко-белый фон */
  color: #222222;          /* темный текст */
  
  font-family: Verdana, Georgia, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222222;      /* Для темного фона */
  background: #f2f3f4;
  max-width: 1400px;     /* Ограничение ширины текста */
}

/* Для заголовков */
h1, h2, h3, h4, h5, h6 {
  color: #333333;         /* более серый для заголовков */
}

/* Для ссылок */
a {
  color: #00aaaa;         /* Светло-фиолетовый для ссылок */
}

a:hover {
  color: #008888;        /* Белый при наведении */
  text-decoration: underline;
}

/* Для кода и преформатированного текста */
code, pre {
  background-color: #1e1e1e; /* Темный фон для кода */
  color: #d4d4d4;          /* Светло-серый текст кода */
  border: 1px solid #333; /* Тонкая граница */
}


q {
  quotes: '«' '»';
  color: #744ce5;
}



/* Максимально упрощенная версия */
details {
  margin: 8px 0;
}

summary {
  cursor: pointer;
  color: #008888;
  font-weight: bold;
  list-style: none;
  padding-left: 20px;
  position: relative;
}

summary::before {
  content: "▶";
  position: absolute;
  left: 0;
  color: #00aaaa;
}

details[open] summary::before {
  content: "▼";
}
