---
layout: default
---

<div class="ephemera">
    <!-- Блок с характеристиками -->
    <div class="specs">
        <p><strong>Название:</strong> {{ page.title }}</p>
        <p><strong>Тип:</strong> {{ page.type }}</p>
        <p><strong>Год выпуска:</strong> {{ page.year }}</p>
        <p><strong>Язык:</strong> {{ page.language }}</p>
        <p><strong>Страна:</strong> {{ page.country }}</p>
        <p><strong>Производитель:</strong> {{ page.manufacturer }}</p>
        <p><strong>Количество страниц:</strong> {{ page.pages }}</p>
        <p><strong>Состояние:</strong> {{ page.condition }}</p>
        <p><strong>На изображении:</strong> {{ page.models }}</p>
        
        {% if page.material %}<p><strong>Материал: </strong> {{ page.material }}</p>{% endif %}
        {% if page.format %}<p><strong>Формат: </strong> {{ page.format }}</p>{% endif %}
        {% if page.isbn %}<p><strong>ISBN: </strong> {{ page.isbn }}</p>{% endif %}
        {% if page.edition %}<p><strong>Издание: </strong> {{ page.edition }}</p>{% endif %}
        {% if page.publisher %}<p><strong>Издатель: </strong> {{ page.publisher }}</p>{% endif %}
        {% if page.author %}<p><strong>Автор: </strong> {{ page.author }}</p>{% endif %}
        {% if page.illustrator %}<p><strong>Иллюстратор: </strong> {{ page.illustrator }}</p>{% endif %}
        
        
    </div>

    <!-- Описание эфемера -->
    <div class="description">
        <div align="justify">
        {{ content }}
        </div>
    </div>

    <!-- Таблица с изображениями -->
     <table>
  {% if page.photo0 %}
  <tr>
    <td> <a href= {{ page.photo0 }} > <img src= {{ page.prev0 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text0 }} </td>
  </tr>
  {% endif %}
  {% if page.photo1 %}
  <tr>
    <td> <a href= {{ page.photo1 }} > <img src= {{ page.prev1 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text1 }} </td>
  </tr>
  {% endif %}
  {% if page.photo2 %}
  <tr>
    <td> <a href= {{ page.photo2 }} > <img src= {{ page.prev2 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text2 }} </td>
  </tr>
  {% endif %}
  {% if page.photo3 %}
  <tr>
    <td> <a href= {{ page.photo3 }} > <img src= {{ page.prev3 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text3 }} </td>
  </tr>
  {% endif %}
  {% if page.photo4 %}
  <tr>
    <td> <a href= {{ page.photo4 }} > <img src= {{ page.prev4 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text4 }} </td>
  </tr>
  {% endif %}
  {% if page.photo5 %}
  <tr>
    <td> <a href= {{ page.photo5 }} > <img src= {{ page.prev5 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text5 }} </td>
  </tr>
  {% endif %}
  {% if page.photo6 %}
  <tr>
    <td> <a href= {{ page.photo6 }} > <img src= {{ page.prev6 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text6 }} </td>
  </tr>
  {% endif %}
  {% if page.photo7 %}
  <tr>
    <td> <a href= {{ page.photo7 }} > <img src= {{ page.prev7 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text7 }} </td>
  </tr>
  {% endif %}
  {% if page.photo8 %}
  <tr>
    <td> <a href= {{ page.photo8 }} > <img src= {{ page.prev8 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text8 }} </td>
  </tr>
  {% endif %}
  {% if page.photo9 %}
  <tr>
    <td> <a href= {{ page.photo9 }} > <img src= {{ page.prev9 }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.text9 }} </td>
  </tr>
  {% endif %}
  {% if page.photoA %}
  <tr>
    <td> <a href= {{ page.photoA }} > <img src= {{ page.prevA }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textA }} </td>
  </tr>
  {% endif %}
  {% if page.photoB %}
  <tr>
    <td> <a href= {{ page.photoB }} > <img src= {{ page.prevB }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textB }} </td>
  </tr>
  {% endif %}
  {% if page.photoC %}
  <tr>
    <td> <a href= {{ page.photoC }} > <img src= {{ page.prevC }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textC }} </td>
  </tr>
  {% endif %}
  {% if page.photoD %}
  <tr>
    <td> <a href= {{ page.photoD }} > <img src= {{ page.prevD }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textD }} </td>
  </tr>
  {% endif %}
  {% if page.photoE %}
  <tr>
    <td> <a href= {{ page.photoE }} > <img src= {{ page.prevE }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textE }} </td>
  </tr>
  {% endif %}
  {% if page.photoF %}
  <tr>
    <td> <a href= {{ page.photoF }} > <img src= {{ page.prevF }} alt= "ЕГГОГ"> </a> </td>
    <td> {{ page.textF }} </td>
  </tr>
  {% endif %}
</table>
</div>
