<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/dark-theme.css'|relative_url}}">
</head>

  
<body>
  <div class="model">
    <header>
      <p>Добро пожаловать в музей!</p>
      <p>[<a href="https://yprits.github.io/museum">Главная</a>]
         [<a href="https://yprits.github.io/museum/models">Модели</a>]
         [<a href="https://yprits.github.io/museum/exhibits">Экспонаты</a>]
         [<a href="https://yprits.github.io/museum/books">Литература</a>]
         [<a href="https://yprits.github.io/museum/news">Новости</a>]
         [<a href="https://yprits.github.io/museum/about">О сайте</a>]
         [<a href="https://yprits.github.io/museum/help">Помочь музею</a>]
      </p>
      <p>Книги, журналы, блог и прочее... когда-нибудь добавлю.</p>
      <hr>
    </header>
    <h1>{{ page.title }}</h1>
    
    <!-- Основное фото -->
    <!-- #<img src="{{ page.photo }}" alt="{{ page.title }}"> -->

    <!-- Блок с характеристиками -->
    <div class="specs">
      <p><strong>Модель:</strong> {{ page.model }}</p>
      <p><strong>Тип:</strong> {{ page.category }}</p>
      <p><strong>Годы выпуска модели:</strong> {{ page.modelyears }}</p>
      <p><strong>Производитель:</strong> {{ page.manufacturer }}</p>
      <p><strong>Страна:</strong> {{ page.country }}</p>
      <p><strong>Цена:</strong> {{ page.price }}</p>
      
     
      {% if page.cpu %}<p><strong>Процессор: </strong> {{ page.cpu }}</p>{% endif %}
      {% if page.ram %}<p><strong>Память: </strong> {{ page.ram }}</p>{% endif %}
      {% if page.material %}<p><strong>Материал: </strong> {{ page.material }}</p>{% endif %}
      {% if page.inputs %}<p><strong>Ввод: </strong> {{ page.inputs }}</p>{% endif %}
      {% if page.outputs %}<p><strong>Вывод: </strong> {{ page.outputs }}</p>{% endif %}
      {% if page.storage %}<p><strong>Хранение информации: </strong> {{ page.storage }}</p>{% endif %}

      <p><strong>Статус:</strong> {{ page.status }}</p>
        
      
      <!-- Добавьте другие поля по аналогии -->
    </div>

    <!-- Описание модели -->
    <div class="description">
      <div align="justify">
      {{ content }}
      </div>
    </div>

   <footer>
     <hr>
     <p> На данный момент это все. Желаете дополнить?</p>
     <p> Обнаружили ошибку? Сообщите!</p>
   </footer>
  </div>
</body>
</html>
