name: Build Museum Catalog
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build with GitHub Pages
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
